In [ ]:
class Person():
  name = "Ashutosh Tiwari"
  course = "BCA"
  Coach = "Data Engineering"
  Age= 20
  years = "Chief executive Officer"
  def f(self):
    print(f"My name is{self.name},currently I am pursuing {self.course}.")
    print(f"I am also doing a offline course named as {self.Coach}.")
    print(f"Coming to my age I am {self.Age} Years old.")



a = Person()
a.f()

My name isAshutosh Tiwari,currently I am pursuing BCA.
I am also doing a offline course named as Data Engineering.
Coming to my age I am 20 Years old.

In [ ]:
class pali():
  num = int(input("Enter a value:"))
  temp = num
  rev = 0
  sum = 0
  def now(self):

    while(self.num!=0):
      digit = self.num%10
      self.rev = (self.rev*10)+digit
      self.num = self.num//10
    if(self.temp==self.rev):
      print(f"{self.temp} is a palindrome.")
    else:
      print(f"This is not a palindrome no:{self.temp}")

  def arm(self):
    self.num = self.temp
    rev = 0
    org = self.num
    while(self.num!=0):
      digit = self.num%10
      rev = (digit**3)+ rev
      self.num = self.num//10
    if(org == rev):
      print(f"{self.temp} is a armstrong no.")
    else:
      print(f"{self.temp} is not a armstrong no.")

  def __init__(self):
    self.num = self.temp

    while(self.num!=0):
      digit = self.num%10
      self.sum = self.sum+digit
      self.num = self.num//10
    print(f"The sum of The Given No is:{self.sum}")


  def rev(self):
    self.num = self.temp
    rev = 0


    while(self.num!=0):
      digit = self.num%10
      rev = (rev*10) + digit
      self.num = self.num //10
    print(f"The Reversed number is :{rev}")

  def count(self):
    self.num = self.temp
    count = 0
    while(self.num>0):
      digit = self.num%10
      count = count+1
      self.num = self.num//10
    print(f"The Total digits are:{count}")


a = pali()
a.now()
a.arm()
a.rev()
a.count()

Enter a value:153
The sum of The Given No is:9
This is not a palindrome no:153
153 is a armstrong no.
The Reversed number is :351
The Total digits are:3

In [ ]:
class Per():
  name = "Ashutosh Tiwari"
  Age = 20
  course = "Data Engineering"

  def new(self):
    print(f"My name is {self.name} and my age is {self.Age}")
    print(f"Currently I am doing {self.course}")


b = Per()
c = Per()
c.name = "Ashu"
b.new()
c.new()

My name is Ashutosh Tiwari and my age is 20
Currently I am doing Data Engineering
My name is Ashu and my age is 20
Currently I am doing Data Engineering

In [ ]:
class Pattern():
  n = int(input("Enter a value:"))

  def raw(self):
    for r in range(1,self.n+1):
      for c in range(1,r+1):
        print("* ",end = '')
      print()

  def fr(self):
    for r in range(1,self.n+1):
      for s in range(0,self.n-r):
        print(" ",end = '')
      for c in range(1,r+1):
        print("*",end = '')
      print()


a = Pattern()
a.raw()
a.fr()

Enter a value:5
*
* *
* * *
* * * *
* * * * *
    *
   **
  ***
 ****
*****

In [ ]:
def great(ne):
  def how():
    print("Hello Ashu!")
    ne()
    print("Good Bye!")
  return how

@great
def hii():
  print("What are you doing?")
hii()

Hello Ashu!
What are you doing?
Good Bye!

In [ ]:
def now(new):
    def how():
        print("Hello Ashutosh Tiwari")
        new()
        print("Good Bye!")
    return how

@now
def wow():
    print("How are you?")

wow()

Hello Ashutosh Tiwari
How are you?
Good Bye!

In [ ]:
class New():
  name = "Ashutosh Tiwari"
  age = 20
  n = int(input("Enter a val:"))
  def __init__(self):
    print(f"My Name is {self.name} and my age is {self.age}")
    print("I have tried to build a pattern which is below:-")

  def wow(self):
    for r in range(1,2*self.n+1):
      if(r<=self.n):
        total = r
      else:
        total = 2*self.n-r
      nfs = self.n -total
      for s in range(0,nfs+1):
        print(" ",end = '')
      for c in range(1,total+1):
        print(" *",end='')
      print()


a = New()
a.wow()

Enter a val:5
My Name is Ashutosh Tiwari and my age is 20
I have tried to build a pattern which is below:-
      *
     * *
    * * *
   * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
class Li():
  a = []
  n = int(input("Enter a value:-"))
  def maker(self):
    for i in range(self.n):
      val = int(input("Enter a value:-"))
      self.a.append(val)
    print(self.a)

b= Li()
b.maker()

Enter a value:-2
Enter a value:-12
Enter a value:-43
[12, 43]

In [ ]:
class Emp():
  def __init__(self,name,id):
    self.name = name
    self.id = id

  def new(self):
    print(f"My name is {self.name} and my id of this college is {self.id}")

e = Emp("Ashutosh Tiwari",230)
e.new()

My name is Ashutosh Tiwari and my id of this college is 230

**Example of single Inheritance in** **Python**

In [ ]:
class Friend():
  def __init__(self,name,char):
    self.name = name
    self.id = id
  def detail(self):
    print(f"My friends name is {self.name} and his/her id is {self.id}")

class Program(Friend):
  def future(self):
    print(f"The future is Here. Enjoy!!{self.name}")
e = Friend("Yashika",2)
e.detail()
a  =Program("Ashutosh",4)
a.future()

My friends name is Yashika and his/her id is <built-in function id>
The future is Here. Enjoy!!Ashutosh

In [ ]:
class Dost():
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def det(self):
    print(f"MY name is {self.name} and age is {self.age}")

class Pro():
  def nice(self):
    print(f"My name is {self.name} and age is {self.age}")


class How(Dost,Pro):
  def wow(self):
    print(f"How are you!{self.name}")

a = Dost("Ashutosh Tiwari",20)
a.det()
a3 = How("Meenal Jain",21)
a3.wow()

MY name is Ashutosh Tiwari and age is 20
How are you!Meenal Jain

In [ ]:
class Det():
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def new(self):
    print(f"My name is {self.name} and my age is {self.age}")

a = Det("Ashutosh Tiwari",20)
a.new()
b = Det("Yashika Agarwal",23)
b.new()

My name is Ashutosh Tiwari and my age is 20
My name is Yashika Agarwal and my age is 23

In [ ]:
class Sw():
  #For Calculating the Sum of Digits
  def __init__(self,n,sum,digit,count,rev):
    self.rev = rev
    self.count = count
    self.digit = digit
    self.n = n
    self.sum = sum
  def s(self):
    while(self.n!=0):
      self.digit = self.n % 10
      self.sum = self.sum + self.digit
      self.n = self.n // 10
    print(f"The sum of the Above Digit is: {self.sum}")

#For calculating the count of digits
class Co(Sw):
  def ct(self):
    while(self.n!=0):
      self.digit = self.n % 10
      self.count +=1
      self.n = self.n//10
    print(f"The count of the above digits is :{self.count}")

class Rev(Co):
  def r(self):
    while (self.n!=0):
      self.digit = self.n %10
      self.rev = (self.rev*10) + self.digit
      self.n = self.n //10
    print(f"The Reverse of the Above No. is: {self.rev}")


class Arm(Rev):
  def e(self):
    temp = self.n
    while(self.n!=0):
      self.digit = self.n % 10
      self.rev = (self.digit**3) + self.rev
      self.n = self.n //10
    if(self.rev == temp):
      print("This is an armstrong No.")
    else:
      print("This is not an Armstrong No.")

class Pal(Arm):
  def g(self):
    temp1 = self.n
    while(self.n!=0):
      self.digit = self.n %10
      self.rev = self.rev*10 + self.digit
      self.n = self.n // 10
    if(self.rev == temp1):
      print("This is a palindrome")
    else:
      print("This is not")


a = Sw(123,0,0,0,0)
a.s()
a3 = Co(123,0,0,0,0)
a3.ct()
s = Rev(123,0,0,0,0)
s.r()
p = Arm(153,0,0,0,0)
p.e()
w = Pal(131,0,0,0,0)
w.g()

The sum of the Above Digit is: 6
The count of the above digits is :3
The Reverse of the Above No. is: 321
This is an armstrong No.
This is a palindrome

In [ ]:
n = 153
temp = 153
rev = 0
while(n!=0):
  digit = n%10
  rev = (digit**3)+ rev
  n = n//10
if(rev == temp):
  print("Arm")
else:
  print("not")

Arm

In [ ]:
n = 5
for r in range(1,n+1):
  for c in range(1,r+1):
    print("* ",end = '')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
n = 5
for r in range(1,2*n+1):
  if(r<=n):
    total = r
  else:
    total = 2*n-r+1
  nfs = n - total
  for c in range(1,total+1):
    print("* ",end = '')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = 5
for r in range(1,n+1):
  for s in range(n-r+1):
    print(" ",end = '')
  for c in range(1,r+1):
    print("*",end = '')
  print()

     *
    **
   ***
  ****
 *****

In [ ]:
n = 5

for r in range(1,2*n+1):
  if(r<=n):
    total = n-r+1
  else:
    total = r-n
  nfs = n - total
  for s in range(0,nfs+1):
    print(" ",end= "")
  for c in range(1,total+1):
    print("*",end = '')
  print()

 *****
  ****
   ***
    **
     *
     *
    **
   ***
  ****
 *****

In [ ]:
n = 5

for r in range(1,2*n+1):
  if(r<=n):
    total = n-r+1
  else:
    total = r-n
  for c in range(1,total+1):
    print("* ",end = '')
  print()

* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *

In [ ]:
n = 5
for r in range(1,2*n):
  if r<=n:
    total = r
  else:
    total = 2*n-r
  nfs = n - total
  for s in range(0,nfs+1):
    print(" ",end = '')
  for c in range(1,total+1):
    print("*",end = '')
  print()

     *
    **
   ***
  ****
 *****
  ****
   ***
    **
     *

In [ ]:
class Build():
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def g(self):
    print(f"My name is {self.name} and my age is {self.age}")

a = Build(input(),int(input()))
a.g()

Ashutosh Tiwari
20
My name is Ashutosh Tiwari and my age is 20

In [ ]:
n = 5
for r in range(1,n+1):
  for c in range(1,r+1):
    print("* ",end = '')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
class Pol():
  def why(self):
    print("My name is Ashutosh")
  def ro(self):
    print("I am 20 yrs old.")
  def hlo(self):
    print("My Course name is Data Engineering.")

class El(Pol):
  def ro(self):
    print("This is not Okay")
  def hlo(self):
    print("Now this is Okay")


a = Pol()
b = El()
a.why()
a.ro()
b.why()
b.ro()

My name is Ashutosh
I am 20 yrs old.
My name is Ashutosh
This is not Okay

**Example Of Polymorphism (Overriding Method):\\**

In [ ]:
class Emp():
  def __init__(self,name,posi):
    self.name = name
    self.posi = posi
  def n(self):
    print(f"My name is {self.name} and my position is {self.posi}")
  def age(self):
    print(f"How are you {self.name}")

class Per(Emp):
  def n(self):
    print(f"My name and position is Redefined and it is {self.name} and position is {self.posi}")
  def age(self):
    print(f"How are you {self.name}")
a = Emp(input(),input())
b = Per(input("Enter for Person Class:-"),input("Enter for person class:-"))
a.n()
a.age()
b.n()
b.age()

Ashutosh Tiwari
Data Engineer
Enter for Person Class:-Uday Sharma
Enter for person class:-DA
My name is Ashutosh Tiwari and my position is Data Engineer
How are you Ashutosh Tiwari
My name and position is Redefined and it is Uday Sharma and position is DA
How are you Uday Sharma

In [ ]:
class My1():
  def __init__(self,name,age,course):
    self.name = name
    self.age = age
    self.course = course

class My2():
  def new(self):
    print(f"My name is {self.name} and my age is {self.age}")

class MyCo(My1,My2):
  def wow(self):
    print(f"My name is Now {self.name} and my age is {self.age}")

a = My1("Ashutosh",20,"data")
b = MyCo("Ashu",20,"Data")
b.wow()

My name is Now Ashu and my age is 20

In [ ]:
class Add():
  def __init__(self,a,b):
    self.a = a
    self.b = b

  def __add__(self):
    print(self.a+self.b)


a = Add(10,20)

In [ ]:
l = [1,2,3,4,5]
def ro(i):
  return i*2
res = list(map(ro,l))
print(res)

[2, 4, 6, 8, 10]

In [ ]:

l = [1,2,3,4,5,5]
def r(i):
  return i%2!=0

res = list(filter(r,l))
print(res)

[1, 3, 5, 5]

In [ ]:
l2 = [1,2,3,4,5,5]
def rt(i):
  return i%2==0
rs = list(map(rt,l2))
print(rs)

[False, True, False, True, False, False]

In [ ]:
l = [1,2,3,4,5,5]
l2 = [1,2,3,4,5,5]
l3 = [1,2,3,4,5,5]

res = list(zip(l,l2,l3))
print(res)

def fi(i):
  return i*2

s = list(map(fi,res))
print(s)

[(1, 1, 1), (2, 2, 2), (3, 3, 3), (4, 4, 4), (5, 5, 5), (5, 5, 5)]
[(1, 1, 1, 1, 1, 1), (2, 2, 2, 2, 2, 2), (3, 3, 3, 3, 3, 3), (4, 4, 4, 4, 4, 4), (5, 5, 5, 5, 5, 5), (5, 5, 5, 5, 5, 5)]

In [ ]:
lo = [1,2,3131,3241,342,98,89,874]
r = list(map(lambda i:i*2,lo))
print(r)

[2, 4, 6262, 6482, 684, 196, 178, 1748]

In [ ]:
p = [5,4,3]
res = list(map(lambda i:i**2,p))
print(res)

[25, 16, 9]

In [ ]:
l = [num*2 for num in range(1,100) if num%2==0]
print(l)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196]