In [ ]:
l = [1,2,3,4,5,6,6,98]
re = list(map(lambda i:i*2,l))
print(re)

[2, 4, 6, 8, 10, 12, 12, 196]

In [ ]:
l1 = [1,2,231,42342,113]
def ro(i):
  return i%2==0

r = list(filter(ro,l1))
print(r)

[2, 42342]

In [ ]:
f = list(zip(re,l1))
print(f)

[(2, 1), (4, 2), (6, 231), (8, 42342), (10, 113)]

Example Of Normal Class
**bold text**

In [ ]:
class Per():
  name = "Ashutosh Tiwari"
  age = 20
  course = "Data Engineering"

  def io(self):
    print(f"My name is {self.name} and my age is{self.age}")
    print(f"Currently I am doing {self.course}")

a = Per()
a.io()
b = Per()
b.name = "Meenal"
b.io()

My name is Ashutosh Tiwari and my age is20
Currently I am doing Data Engineering
My name is Meenal and my age is20
Currently I am doing Data Engineering

**Example Of Encapsulation**

In [ ]:
class Build():
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def u(self):
    print(f"My name is {self.name} and age is{self.age}")

a = Build("Ashutosh Tiwari",20)
a.u()

My name is Ashutosh Tiwari and age is20

Example of Inheritance

In [ ]:
class Now():
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def i(self):
    print(f"My name is {self.name} and age is {self.age}.")

class Wow(Now):
  def bye(self):
    print(f"In the Different class my name is {self.name}.This means that this is single inheritance")

a = Now("Ashutosh Tiwari",20)
a.i()
b = Wow("Ashutosh",20)
b.bye()

My name is Ashutosh Tiwari and age is 20.
In the Different class my name is Ashutosh.This means that this is single inheritance

Example of Multiple Inheritance

In [ ]:
class Pro():
  def __init__(self,name,course):
    self.name = name
    self.course = course

  def a(self):
    print(f"My name is {self.name} and current course is {self.course}.")

class Pro1():
  def __init__(self,age):
    self.age = age

  def b(self):
    print(f"My age is {self.age}")

class Pro2(Pro,Pro1):
  def c(self):
    print(f"Now My name is {self.name},course is {self.course}")

a = Pro("Ashutosh","Data Engineering")
a.a()
b = Pro1(20)
b.b()
c = Pro2("Ashutosh Tiwari","Data Engineering")
c.c()

My name is Ashutosh and current course is Data Engineering.
My age is 20
Now My name is Ashutosh Tiwari,course is Data Engineering

Example of Method Overriding

In [ ]:
class Emp():
  def __init__(self,name,prof):
    self.name = name
    self.prof = prof

  def n(self):
    print(f"My name is {self.name} and my profession is {self.prof}")

class Ow(Emp):
  #In method Overriding the name of class can be different but the name of the functions inside it should be same otherwise it will be known as inheritance
  def n(self):
    print(f"My name is {self.name} and posi is {self.prof}")


a = Emp("Ashutosh","Data")
a.n()
b = Ow("Ashutosh","Data")
b.n()

My name is Ashutosh and my profession is Data
My name is Ashutosh and posi is Data